<!DOCTYPE html>
<html>
<head>
  <div class = "hearder-container"> 
    <img id= pic src ="https://www.georgiatrust.org/wp-content/themes/ga-trust-nineteen/assets/images/logo_horiz_sm.png">
  </div>

  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>West ATL Preservation Initative</title>
  <style></style>

</head>
<body>

<div class="topnav">
  <a href="/instructions" style="float: right">Instructions</a>
  <a class="active" href="/" style="float: right">Search</a>
</div>
  
<div style="padding-left:16px">
  <h2>Fulton County Property Parser</h2>
  <p>This is a web interface created for GTHP to find properties that meet geographic, economic, and historic criteria to be revitalized and sold as affordable housing.</p>
</div>

<div class="search-container" >
    <form action="/search" method="POST">
      Zip: <input type="text" name="zip" placeholder="Enter Zip"><br>
      Price Min: <input type="number" name="priceMin" placeholder="0"><br>
      Price Max: <input type="number" name="priceMax" placeholder="10000000"><br>
      Improvement Max: <input type="number" name="imprvMax" placeholder="0"><br>
      <button type="submit">Search</button>
    </form>
</div>

<div class="search-info">
<%if (results != null) {%>
    <p class = "result-formating">showing results for:&ensp;
    <li>zip codes: <%=params.zip %>&ensp; </li>
    <li>price min: <%=params.priceMin %>&ensp; </li>
    <li>price max: <%=params.priceMax %>&ensp;</li>
    <li>improvement max: <%=params.imprvMax %></li>
  </p>
    
    <table> 
      <th>Site Address</th>
      <th>Zip</th>
      <th>Neighborhood</th>
      <th>Total Appraisal</th>
      <th>Improvement</th>
      <th>Zoning</th>
      <th>Owner</th>
    </tr>
    search returned <%=results.length %> results
    <% for(var result of results) { %>
      <tr>
        <td><%=result.SITEADDRESS %></td>
        <td><%=result.SITEZIP %></td>
        <td><%=result.NGHBRHDCD %></td>
        <td>$<%=result.TOT_APPR %></td>
        <td>$<%=result.IMPR_APPR %></td>
        <td><%=result.CLASSCD %></td>
        <td><%=result.OWNERNME1 %></td>
      </td>
    <% } %> 
</table>
<% } %>
</div>


</body>
</html>

