<!DOCTYPE html>
<html>
<head>


  <link rel="stylesheet" type="text/css" href="css/main.css">
  <title>West ATL Preservation Initative</title>
  <style></style>

</head>
<body>

<div class="topnav">
  <a href="/data" style="float:right">Data</a>
  <a href="/instructions" style="float: right">Instructions</a>
  <a class="active" href="/" style="float: right">Search</a>
</div>
  
<div style="padding-left:16px">
  <h2>Fulton County Property Parser</h2>
  <p>This is a web interface created for GTHP to find properties that meet geographic, taxation, and historic criteria to be revitalized and sold as affordable housing.</p>
</div>

<div class="search-container" >
    <form action="/search" method="POST">
      Zip: <input type="text" name="zip" placeholder="Enter Zip"><br>
      Price Min: <input type="number" name="priceMin" placeholder="0"><br>
      Price Max: <input type="number" name="priceMax" placeholder="10000000"><br>
      Improvement Max: <input type="number" name="imprvMax" placeholder="0"><br>
      <button type="submit">Search</button>
    </form>
</div>

<div class="search-info">
<%if (results != null) {%>
  <p>showing results for:&ensp;
    zip codes: <%=params.zip %>&ensp;
    price min: <%=params.priceMin %>&ensp;
    price max: <%=params.priceMax %>&ensp;
    improvement max: <%=params.imprvMax %></p>
  <ul>
    search returned <%=results.length %> results
    <% for(var result of results) { %>
      <ul>
        <li><%=result.SITEADDRESS %></li>
        <li>Neighborhood: <%=result.NGHBRHDCD %></li>
        <li>ZIP: <%=result.SITEZIP %></li>
        <li>Total Appraisal: $<%=result.TOT_APPR %></li>
        <li>Improvement Value: $<%=result.IMPR_APPR %></li>
        <li>Zone: <%=result.CLASSCD %></li>
        <li>Owner: <%=result.OWNERNME1 %></li>
        <br>
      </ul>
    <% } %>    
  </ul>

<% } %>
</div>


</body>
</html>

